* {
    font-family: 'Hubballi', sans-serif;
    font-size: 20px;
    background-color:#fffafa;
}

    #header {
        background-color: #b0e0e6;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        #nameAndTitle {
            background-color: white;
            width: 500px;
            margin: 0 auto;
            text-align: center;
            font-size: 35px;
        }

            #nome{
                font-size: 37px;
            }

    #container {
        display: grid;
        grid-template-columns:50% auto;
        grid-column-gap: 20px;
    }

        #sidebar, #content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    
            .card {
                border: 1px solid #b0e0e6;
                border-radius: 15px;
                padding: 20px;
            }

                .titulos{
                    font-size: 25px;
                    font-weight: bold;
                }
                
                #contact {
                    list-style-type: none;
                }
                #contact i {
                    width: 20px;
                    color: #b0e0e6;
                }
                #contact a {
                    text-decoration:none;
                }

        span {
            color: #949494;
        }